@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oxanium:200,300,400,500,600,700,800&display=swap');

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background: rgb(81,2,107);
    background: radial-gradient(circle, rgba(81,2,107,1) 0%, rgba(117,8,156,1) 55%, rgba(160,8,210,1) 100%);
    
}

h1 {
    color: white;
    font-family: 'Dosis', sans-serif;
    font-size: 48px;
    font-weight: 800;
    margin: 0px;
}

p {
    color: white;
    font-family: 'Oxanium', sans-serif;
    font-size: 8rem;
    font-weight: 500;
    margin: 0px;
}

.divider {
    font-size: 2rem;
}

.date {
    font-size: 7.5rem;
}

.container {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

.container-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.tiny {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 2rem;
}